body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0%;
    background: black;
    flex-direction: column;
}
.clock{
position: relative;
width: 300px;
height: 300px;
border-radius: 150px;
border: 1px solid red;
background: goldenrod;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.number{
    position: absolute;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 18px;
    margin-top: 135px;
    margin-left: 135px;
    text-align: center;
    transform-origin: center center;
    transform: rotate(calc(var(--i) * 30deg)) translateY(-120px) rotate(calc(var(--i) * -30deg));
}
.hand{
    position: absolute;
    bottom: 50%;
    left: 50%;
    background: #000;
    transform-origin: bottom center;
}
.hour-hand{
    width: 4px;
    height: 70px;
    background: #333;
    z-index: 3;
}
.minute-hand{
    width: 3px;
    height: 90px;
    background: #666;
    z-index: 2;
}
.second-hand{
    width: 2px;
    height: 100px;
    background: red;
    z-index: 1;
}
.center-dot{
    position: absolute;
    width: 10px;
    height: 10px;
    background: black;
    border-radius: 5px;
    top: 150px;
    left: 152px;
    transform: translate(-50%,-50%);
    z-index: 4;
}  

